.map {
    position: absolute;
    bottom: 13px;
    right: 50px;
    height: 400px;
    width: 400px;
    background-size: cover;
    border-radius: 5px;
}

.app-title {
  font-family: 'Pacifico', serif;
  font-size: 60px;
}

.app-statement {
  font-family: 'Architects Daughter', serif;
  font-size: 36px;
}
