<div class="container">

  <h1 class="app-title">CoCo: Your College Counselor</h1>
  <h3 class="app-statement">Keeping students on track and parents informed.</h3>

  <hr>
  {{#if session.isAuthenticated}}
    <li><a href="#">Hi, {{sessionAccount.account.email}}</a></li>
    <li><a href="#" {{action 'invalidateSession'}}>Logout</a></li>
  {{else}}
    <li>{{#link-to 'login'}}Log In{{/link-to}}</li>
    <li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
  {{/if}}
  <br>
{{#link-to "users.3.events.new" photo}}Events New{{/link-to}}
  {{outlet}}
</div>
